/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/configureadvancedsecurity - 9.12.4 - 2.3.1.mpr.bak
/configureadvancedsecurity - 9.12.4 - 2.3.1.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
